
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-one">
		
		<!-- Header Top -->
     
		
    	<!-- Header Upper -->
			<div class="header-upper">
				<div class="auto-container">
						<div class="clearfix">
								
								<div class="pull-left logo-box">
										<div class="logo"><a href="{% url 'boot:index' %}"><img  style="height: 50px;"src="{% static 'images/uitc.svg'%}" alt="" title="Bootcamp"></a></div>
								</div>
									 
									 <div class="nav-outer clearfix">
										<!--Mobile Navigation Toggler-->
										<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
										<!-- Main Menu -->
										<nav class="main-menu show navbar-expand-md">
												<div class="navbar-header">
														<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
																<span class="icon-bar"></span>
																<span class="icon-bar"></span>
																<span class="icon-bar"></span>
														</button>
												</div>

												<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
														<ul class="navigation clearfix">
																<li><a href="{% url 'boot:index' %}" style="text-transform: none;">Bosh sahifa</a></li>
																<li><a href="{% url 'boot:index' %}#about" style="text-transform: none;">Biz haqimizda</a>

																</li>
																<li><a href="{% url 'boot:index' %}#kurslar">Kurslar</a>

																</li>




																<li><a href="{% url 'boot:contact' %}">Aloqa</a></li>
														</ul>
												</div>
												
										</nav>
										
								
								
										
								</div>
							 
						</div>
				</div>
		</div>
        <!-- End Header Upper -->
        
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img style="height: 50px;"src="{% static 'images/logo1.svg'%}"></a></div>
                <div class="menu-outer">
					<!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
				</div>
            </nav>
        </div>
		<!-- End Mobile Menu -->
		
    </header>
    <!-- End Main Header -->
	
	<!-- Page Title -->
    <section class="page-title">
        <div class="auto-container">
			
			
			<!-- Search Boxed -->
			<div class="search-boxed">
				<div class="search-box">
					<form method="post" action="contact.html">
						<div class="form-group">
						
							<h1 style="color: black; font-size: 30px;">Ro'yhatdan o'tish</h1>
						</div>
					</form>
				</div>
			</div>
			
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Register Section -->
	<section class="register-section">
		<div class="auto-container">
			<div class="register-box">
				
				<!-- Title Box -->
				<div class="title-box">
					<h2>Ro'yhatdan o'tish</h2>

				</div>
				
				<!-- Login Form -->
				<div class="styled-form">
					<form method="post" action="#">
						{% csrf_token %}
						<div class="row clearfix">
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Login</label>
								<input type="text" name="username" value="" placeholder="Loginni  o'ylab toping" required="">
							</div>
							
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Ism va Familiya</label>
								<input type="text" name="last_name" value="" placeholder="Ism va Familiyangizni kiriting" required="">
							</div>
							
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Elektron pochta</label>
								<input type="email" name="email" value="" placeholder="abcd@mail.com" required="">
							</div>
							
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Telefon raqam</label>
								<input type="text" name="phone" value="" placeholder="+998 91 234 56 78" required="">
							</div>
							
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Parol</label>
								<label>Parolni tasdig'lash</label>
								<span id="hide1" style="cursor: pointer;"class="eye-icon flaticon-eye" onclick="password2()"></span>
								<span id="hide2" style="cursor: pointer;"class="eye-icon flaticon-eye" onclick="password2()"></span>
								<input id="password2"type="password" name="password1" value="" placeholder="Parolni kiriting" required="">
							</div>
							
							<div class="form-group col-lg-6 col-md-12 col-sm-12">
								<label>Parolni tasdig'lash</label>
								<span id="hide1" style="cursor: pointer;"class="eye-icon flaticon-eye" onclick="password()"></span>
								<span id="hide2" style="cursor: pointer;"class="eye-icon flaticon-eye" onclick="password()"></span>
								<input id="password"type="password" name="password2" value="" placeholder="Parolni qayta kiriting" required="">
							</div>
							
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<div class="row clearfix">
									
									<div class="column col-lg-3 col-md-4 col-sm-12">
										<div class="radio-box">
											<input type="radio" name="remember-password"  id="type-1"> 
											<label for="type-1">Erkak</label>
										</div>
									</div>
								
									<div class="column col-lg-3 col-md-4 col-sm-12">
										<div class="radio-box">
											<input type="radio" name="remember-password" id="type-2"> 
											<label for="type-2">Ayol</label>
										</div>
									
								
							
							
									
							
						</div>
						<div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
							<button type="submit" class="theme-btn btn-style-three" style="text-transform: none;">Ro'yhatdan o'tish<span class="txt"> <i class="fa fa-angle-right"></i></span></button>
						</div>
			<div style="text-align: center; margin: 0 auto;">
				{% for message in messages%}
				<h3 style="text-align: center; font-size: 16px; margin-top: -20px; color: red;"> {{message}}</h3>
				{% endfor %}
			</div>
			
			<div class="form-group col-lg-12 col-md-12 col-sm-12">
				<div class="users">Akkauntingiz bormi? <a href="{% url 'boot:login'%}">Kirish</a></div>
			</div>
					</form>
				</div>
				
			</div>
		</div>
	</section>
	<footer class="main-footer">
		<!-- Pattern Layer -->
		<div class="pattern-layer paroller" data-paroller-factor="0.60" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image:url(static/images/icons/icon-1.png)"></div>
		<div class="pattern-layer-two data-paroller-factor=" 0.60"="" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image:url(static/images/icons/icon-3.png)"></div>
		<div class="auto-container">
		
        	<!-- Widgets Section -->
					<div class="widgets-section">
						<div class="row clearfix">
								
									<!-- Big Column -->
									<div class="big-column col-lg-6 col-md-12 col-sm-12">
											<div class="row clearfix">
						
						<!--Footer Column-->
													<div class="footer-column col-lg-7 col-md-6 col-sm-12">
															<div class="footer-widget logo-widget">
								<div class="logo">
																		<a href="{% url 'boot:index' %}"><img src="{% static 'images/uitc.svg'%}" alt=""></a>
																	</div>
								<div class="text">Namangan viloyati, Davlatobod tumani, 3-kichik nohiya, Islom Karimov ko'chasi, Yangi yoshlar ziyo maskani</div>
								<div class="social-box">
						
										<a href="https://www.instagram.com/startriseuz/" class="fa fa-instagram"></a>
										<a href="https://www.youtube.com/channel/UCa_yy51TFRHK97WPKf9Fx0Q" class="fa fa-google"></a>
										<a href="https://t.me/startriseplus" class="fa fa-pinterest-p"></a>
								</div>
								
							</div>
						</div>
						
						<!--Footer Column-->
							

					</div>
				</div>
				
				<!-- Big Column -->
									<div class="big-column col-lg-6 col-md-12 col-sm-12 mt-3">
											<div class="row clearfix">
												<div class="footer-column col-lg-5 col-md-6 col-sm-12 mt-6">
													<div class="footer-widget links-widget">
						<ul class="links-widget mb-0" >
							<li><a href="{% url 'boot:index' %}">Bosh sahifa</a></li>
							<li><a href="{% url 'boot:index' %}#about">Biz haqimizda</a></li>
						</ul>
					</div>
				</div>

						<!--Footer Column-->
													<div class="footer-column col-lg-6 col-md-6 col-sm-12">
															<div class="footer-widget links-widget">

								<ul class="links-widget mb-0">
									<li><a href="{% url 'boot:index' %}#kurslar">Kurslar</a></li>
									<li><a href="{% url 'boot:contact' %}">Aloqa</a></li>

								</ul>
							</div>
						</div>
						
						<!--Footer Column-->
													<div class="footer-column col-lg-6 col-md-6 col-sm-12">

								<ul class="links-widget d-none mb-0">
									<li><a href="{% url 'boot:index' %}">home</a></li>
									<li><a href="{% url 'boot:contact' %}">About us</a></li>

								</ul>
							</div>
						</div>
					
					</div>
				</div>
				
			</div>
			
		</div>
	</footer>
</div>
<!--End pagewrapper-->
{% endblock %}